node_modules
*.log
logs
.ssh
id_rsa
.env
.nx
.env.*
.serverless
.venv*
.*.json
.stack.*
.data

# Ignore dist folders
dist
.nx
.npmrc

.yarn/*
.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
.yarn/versions

NOT_COMMITTED

dist_esnext